/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	width: 360px;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: white;
}

#header {
	padding: 5px 10px;
	background-color: #22313F;
}

#title {
	display: inline;
	color: white;
	font-size: 18px;
	margin-left: 5px;
}

#song-title {
	display: inline;
	margin-left: 4px;
	font-size: 14px;
	font-family: sans-serif;
}

#slider {
	width: 80%;
	margin-top: 10px;
	margin-right: 0;
	display: -webkit-inline-box;
	background-color: white;
}

#slider > div {
	background-color: #6C7A89;
}

#slider > a {
	background-color: #6BB9F0;
}

#btn-play, #btn-pause {
	color: white;
	border: 0;
	background-color: #22313F;
	font-size: 18px;
	margin-right: 16px;
}

#btn-play:hover, #btn-pause:hover {
	color: #C5EFF7;
}

#time {
	float: right;
	font-size: 14px;
	font-weight: 600;
	font-family: sans-serif;
	margin-top: 3px;
}

#player {
	margin: 0px 0px;
	padding: 2px 15px;
	height: 110px;
	color: #6C7A89;
	background-color: #EEEEEE;
}

#search-query-3 {
	width: 100%;
	border: none;
	height: 40px;
	padding: 0 10px;
	border-top: 1px solid #ECECEC;
	border-radius: 0;
}

.fui-search {
	color: darkcyan;
	height: 40px;
	font-size: 13px;
}

#search-box {
	background-color: #F7F7FC;
	height: 333px;
	color: #DADFE1;
	border: 1px solid #DADFE1;
}

#search-box > ul {
	list-style: none;
	font-size: 15px;
	margin: 0;
	padding-left: 0px;
}

#search-box > ul > li {
	padding-top: 10px;
	font-size: 16px;
	text-align: center;
	color: #6C7A89;
}

#search-box > ul > a > li {
	padding-left: 10px;
	line-height: 35px;
	width: 100%;
	border-bottom: 2px solid white;
	color: #6C7A89;
}

#search-box > ul > a > li > span {
	float: right;
	margin: 0;
	font-size: 12px;
	margin-right: 8px;
	color: #6C7A89;
}

#search-box > ul > a > li > img {
	height: 35px;
	widows: 32px;
	float: right;
}

#search-box > ul > a > li:hover {
	background-color: #ecf0f1;
}

#search-box > ul > a:nth-child(9) > li {
	border-bottom: none;
}

#btn-search {
	float: right;
	font-size: 13px;
	color: darkslategray;
	height: 20px;
}

#btn-search:hover {
	color: darkgray;
}

#backward-btn {
	margin-left: 63px;
	margin-right: 20px;
	color: white;
}

#backward-btn:hover, #forward-btn:hover {
	color: #C5EFF7;
}

#forward-btn {
	color: white;
}
