/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	width: 360px;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: white;
}

#header {
	padding: 2px 8px;
    background-color: white;
    padding-top: 0px;
	
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
        
}

#title {
	display: inline;
	color: #223049;
	font-size: 18px;
	font-weight: 600;
	margin-left: 5px;
	margin-top: 5px;
}

.song-title {
	margin-left: 10px;
	font-size: 15px;
	font-family: sans-serif;
	margin-top: 2px;
    margin-bottom: 7px;
	text-align: center;
	font-weight: 500;
	color: #6C7A89;
}

#song-title {
	font-size: 20px;
	margin-bottom: 0px;
}

#slider {
	width: 42%;
	margin-top: 10px;
	margin-right: -5px;
	display: -webkit-inline-box;
	background-color: #81CFE0;
	margin-bottom: 0px;
	height: 11px;
	border-radius: 0;
}

#slider > div {
	background-color: #81CFE0;
}

#slider > a {
	background-color: #2C3E50;
	border-radius: 0;
    left: 0%;
    height: 11px;
	width: 10px;
    margin-top: 3px;
}

#btn-play, #btn-pause {
	border: 0;
	background-color: rgba(255, 0, 0, 0);
	margin-top: 5px;
	font-size: 13px;
	margin-left: 2px;
	margin-right: 0px;
	margin-top: 2px;
	color: #2C3E50;
}

#btn-play:hover, #btn-pause:hover {
	color: #89C4F4;
}

#time {
	font-size: 14px;
	font-weight: 600;
	font-family: sans-serif;
	display: inline;
	color: #6C7A89;
	margin-left: 4px;
	margin-right: 9px;
}

#player {
	margin: 0px 0px;
	padding: 2px 15px;
	height: 135px;
	color: #6C7A89;

  	background: -webkit-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* W3C */
        
	-webkit-box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.07);
	box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.07);
}

#controller {
	margin-top: 0px;
	background-color: white;
	background-color:  rgba(255, 255, 255, 0.4);
	height: 31px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

#controller > #btn {
	width: 85px;
    margin-right: 0;
    float: left;
	border-right: 1px solid #C5EFF7;
}

#search-area, #playlist-area {
	background: -webkit-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #52EDC7 10%, #5AC8FB 90%); /* W3C */
	padding: 0px;
	height: 357px;
}

#playlist-area {
	
	z-index: -1;
}

#search-query-3 {
	width: 100%;
	border: none;
	height: 40px;
	padding: 0 10px;
	border-radius: 0;
	background-color: #F7F7F7;
	

}

#search-box, #playlist-area {
	padding-top: 1px;
	height:  317px;
	color: #DADFE1;
	background-color: rgba(255, 255, 255, 0.3);
}

#playlist-area {
	height:  357px;
}

#search-box > ul, #playlist-area {
	list-style: none;
	font-size: 15px;
	margin: 0;
	padding-left: 0px;
}


#search-box > ul > li, #playlist-area > li {
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;
	width: 100%;
	color: #6C7A89;
	text-align: left;
	padding-left: 10px;
	padding-right: 1px;
	z-index: 100;
}
#playlist-area > li.playing {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(102,102,102,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(102,102,102,1);
	box-shadow: 0px 0px 1px 1px rgba(102,102,102,1);
	background-color: #ecf0f1;
	margin-bottom: 2px;
	margin-top: 2px;
}

#search-box > ul > li > p, #playlist-area > li > p {
	font-weight: 400;
	font-size: 12px;
	margin: 0;
	margin-right: 8px;
	margin-left: 10px;
	color: #6C7A89;
}

#search-box > ul > li > img, #playlist-area > li > img {
	margin-top: 3px;
	margin-right: 2px;
	padding: 0;
	height: 39px;
	width: 39px;
	float: right;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.95);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.95);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.95);
}

#search-box > ul > li:hover, #playlist-area > li:hover {
	background-color: #ecf0f1;
}

#btn-search {
	clear: both;
	position: absolute;
	margin-top: 32px;
	margin-left: 165px;
	font-size: 13px;
	color: darkcyan;
	height: 20px;
	margin-top: 12px;
	margin-right: -10px;
	z-index: 1;
}

#btn-search:hover {
	color: darkgray;
}

#backward-btn {
	margin-left: 8px;
	margin-right: 9px;
	color: #2C3E50;
	font-size: 14px;
}

#backward-btn:hover, #forward-btn:hover {
	color: #89C4F4;
}

#forward-btn {
	margin-left: 7px;
	color: #2C3E50;
	font-size: 14px;
}

#b {
	display: none;
	margin-left: 144px;
	margin-bottom: 0;
	margin-top: 4px;
	width: 54px;
	height: 24px;
	z-index: 100;
}

#b:hover {
	display: block;
}

#btn-search:hover + #b {
	display: block;
}

.fui-search, .fui-list-columned {
	font-size: 16px;
	color: rgba(44, 62, 80, 0.4);
}

.fui-plus, .fui-triangle-right-large, .fui-cross {
	display: inline;
	position: absolute;
	margin-top: 10px;
	margin-left: 275px;
	color: #6C7A89;
	font-size: 21px;
	display: none;
	z-index: 101;
}

.fui-cross {
	color: #EF4836;
}

.fui-cross:hover {
	color: #D64541;	
}

.fui-plus {
	color: #16A085;
}

.fui-triangle-right-large {
	color: #446CB3;
}

.fui-triangle-right-large {
	margin-left: 246px;
}

