<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/flat-ui.min.css">
		<link rel="stylesheet" href="../css/popup.css">
		<link rel="stylesheet" href="../css/font-awesome-animation.min.css">

		<script type="text/javascript" src="../scripts/Sortable.min.js"></script>
	</head>
	<body>
		<div id='main-container'></div>
		<!--REQUIREJS-->
		<script data-main="../scripts/popup/popup_main" src="../scripts/require.js"></script>
		
	</body>
</html>