<div id='header'>
	
	
</div>
<div id='player'>
	<div class='song-title' id='song-title'></div>
	<div class='song-title' id='song-artist'>Alo </div>
	<div id="controller">
		<div id="btn">
			<a class="glyphicon glyphicon-backward" id='backward-btn' href="#"></a>
			<a class="fui-play" id="btn-play" href="#"></a>
			<a class="glyphicon glyphicon-forward" id='forward-btn' href="#"></a>
		</div>
		<p id='time'>00:00</p>
		<div id='slider'></div>
		<p id="time" class='duration'>00:00</p>
	</div>
	<a href='#' class='fui-triangle-down-small' id='btn-search'>
	</a>
	<div id='b'>
		<a href="#" style="float:left" class="fui-list-columned"></a>
		<a href="#" style="float:right" class="fui-search"></a>
	</div>
</div>

<div id="search-area">
	<input type="text" class="form-control" placeholder="Type here then enter to search" id="search-query-3" autocomplete="off">
	<div id="search-box">
		<ul id="search-list">
		</ul>
	</div>
</div>

<ul id='playlist-area'> 
	
</div>